<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footlink.footlink.user.match.mapper.MatchMapper">
	<resultMap type="com.footlink.footlink.user.match.domain.Match" id="MatchResultMap">
			<id column="match_no" 		property="matchNo"/>
			<result column="field_no" 	property="fieldNo" />
			<result column="field_nm" 	property="fieldName" />
			<result column="match_date" property="matchDate" />
			<result column="match_time" 	property="matchTime" />
			<result column="match_end_time" property="matchEndTime"/>
			<result column="rcrtm_nope"		property="rcrtmNope"/>
			<result column="atnd_nope"		property="atndNope"/>
			<result column="level_cd" 	property="matchLevel" />
			<result column="match_stts" 	property="matchStts" />
			<result column="gender_nm" 	property="genderName" />
			<result column="match_type_nm"  property="matchMethod" />
	</resultMap>
	<resultMap type="com.footlink.footlink.user.match.domain.Stadium" id="staListMap">
			<id column="stadium_no" 				property="staNo"/>
			<result column="stadium_nm" 			property="staName" />
			<result column="stadium_addr" 			property="staAddr" />
			<result column="province_id"  			property="staPro"/>
			<result column="shower_use_psblty_yn" 	property="showerYn" />
			<result column="restroom_use_psblty_yn" property="restYn" />
			<result column="parking_use_psblty_yn" 	property="parkingYn" />
			<result column="has_shoe_rental" 		property="shoRtYn" />
			<result column="has_vest_rental" 		property="vestRtYn" />
			<result column="has_ball_rental"  		property="ballRtYn" />
			<result column="sells_drinks"  			property="sellDrink" />
			<result column="stadium_telno"  		property="staTelNo" />
			<result column="dtl_cn"  				property="Detail" />
			<result column="oper_yn"  				property="OperYn" />
	</resultMap>
	<resultMap type="com.footlink.footlink.user.match.domain.Field" id="fieldListMap">
		<id column = "field_no" 				property="fieldNo"/>
		<result column="stadium_no" 			property="staNo"/>
		<result column="field_nm" 				property="fieldName"/>
		<result column="field_inside_outside" 	property="fio"/>
		<result column="field_floor_material"	property="ffm"/>
		<result column="file_no" 				property="fileNo"/>
		<result column="spcffct" 				property="sft"/>
		<result column="amt" 					property="amt"/>
		<result column="operating_start_time" 	property="ost"/>
		<result column="operating_end_time"		property="oet"/>
	</resultMap>
	
	
	<!-- <select id="getItemInfoByName" parameterType="string" resultMap=""></select> -->
	<select id="test" resultType="com.footlink.footlink.user.match.domain.Gender">
		SELECT 
			gender_cd, gender_nm
		FROM 
			genders;
	</select>
	<select id="findAllMatch" resultMap="MatchResultMap">
		SELECT 
			match_no, 
			field_no, 
			match_date, 
			match_time, 
			match_end_time, 
			rcrtm_nope, 
			atnd_nope, 
			level_cd, 
			match_stts_no, 
			gender_cd, 
			match_type_cd
		FROM 
			matches
	</select>
	<select id="stadiumList" resultMap="staListMap">
		SELECT 
			stadium_no, 
			stadium_nm, 
			stadium_addr,
			province_id, 
			shower_use_psblty_yn, 
			restroom_use_psblty_yn, 
			parking_use_psblty_yn, 
			has_shoe_rental, 
			has_vest_rental, 
			has_ball_rental, 
			sells_drinks, 
			stadium_telno, 
			dtl_cn, 
			oper_yn
		FROM 
			stadium;
	</select>
	<select id="findByKeyword" resultMap="staListMap">
		SELECT 
			*
		FROM
			stadium s LEFT JOIN provinces p
			ON s.province_id = p.province_id
		HAVING p.`name`=#{keyword};
	</select>
	<select id="findProvince">
		SELECT 
			province_id, 
			`name`
		FROM 
			provinces
	</select>
	<select id="getfieldList" resultMap="fieldListMap">
		SELECT
			*
		FROM
			`fields` f LEFT JOIN stadium s
			ON f.stadium_no = s.stadium_no
		HAVING s.stadium_no = #{staNo};
	</select>
	<select id="getbookList" resultMap="MatchResultMap">
		SELECT
			*
		FROM
			matches m INNER JOIN fields f
			ON m.field_no = f.field_no
		where
			m.field_no = #{fieldNo}
			and
			m.match_date = #{date}
	</select>
	
	<insert id="addMatch" parameterType="com.footlink.footlink.user.match.domain.AddMatch">
		INSERT INTO matches
			(field_no, 
			match_date, 
			match_time, 
			match_end_time, 
			min_level_cd, 
			max_level_cd, 
			match_stts_no, 
			gender_cd, 
			match_type_cd)
		VALUES 
			(#{fieldNo}, 
			#{matchDate},
			#{matchTime}, 
			#{matchEndTime}, 
			#{minLevelCode},
			#{maxLevelCode}, 
			'1', 
			#{gender}, 
			#{matchType})
	</insert>
    
</mapper>