<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.footlink.footlink.user.myinfo.mapper.MyInfoMapper">

	<!-- 결과 매핑 -->
	<resultMap id="MyInfoMap"
		type="com.footlink.footlink.user.myinfo.domain.MyInfo">
		<id property="id" column="user_id" />
		<result property="role" column="authrt_cd" />
		<result property="email" column="user_email" />
		<result property="phone" column="user_phn_num" />
		<result property="birth" column="user_birth" />
		<result property="gender" column="user_gender" />
		<result property="addr" column="user_addr" />
		<result property="joinYmd" column="join_ymd" />
		<result property="name" column="user_nm" />
		<result property="profile" column="file_path" />
		<result property="pstAblty" column="user_pst_ablty" />
		<result property="pst" column="user_pst" />
		<result property="level" column="user_level" />
		<result property="intro" column="user_intro" />
	</resultMap>

	<!-- ✅ 이메일 기준으로 내 정보 조회 -->
	<select id="getMyInfoByEmail" resultMap="MyInfoMap">
		SELECT
		u.user_id,
		u.authrt_cd,
		u.user_email,
		u.user_phn_num,
		u.user_birth,
		u.user_gender,
		u.user_addr,
		u.join_ymd,
		u.user_nm,
		u.user_pst_ablty,
		u.user_pst,
		u.user_level,
		u.user_intro,
		f.file_path
		FROM user u
		LEFT JOIN files f ON
		u.user_img = f.file_idx
		WHERE u.user_email = #{email}
	</select>

	<update id="modifyMyInfo"
		parameterType="com.footlink.footlink.user.myinfo.domain.MyInfo">
		UPDATE user
		<set>
			<if test="name != null and name != ''">
				user_nm = #{name},
			</if>
			<if test="intro != null and intro != ''">
				user_intro = #{intro},
			</if>
			<if test="pst != null and pst != ''">
				user_pst = #{pst},
			</if>
			<if test="pstAblty != null and pstAblty != ''">
				user_pst_ablty = #{pstAblty},
			</if>
			<if test="addr != null and addr != ''">
				user_addr = #{addr},
			</if>
			<if test="userImg != null and userImg != ''">
				user_img = #{userImg},
			</if>
		</set>
		WHERE user_email = #{email}
	</update>

</mapper>
