<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->
<mapper namespace="com.footlink.footlink.team.mapper.TeamMapper">
	<resultMap type="com.footlink.footlink.team.domain.Team" id="TeamList">
		<id column="team_cd"	property="teamCode"/>
		<result column="team_nm"	property="teamName"/>
		<result column="rgn_nm"		property="regionName"/>
		<result column="mtn_tm"	property="meetingTimeCode"/>
		<result column="team_age"	property="teamAgeCode"/>
		<result column="level_cd"	property="levelCode"/>
		<result column="is_temp"	property="isTemp"/>
		<result column="view_cnt"	property="viewCount"/>
		<result column="favorite_cnt"	property="favoriteCount"/>
	</resultMap>
	
	<select id="getTeamList" resultMap="TeamList">
		SELECT
			t.team_cd,
			t.team_nm,
			t.rgn_nm,
			m.mtn_tm_nm AS meetingTime,
			ta.team_age_name AS teamAge,
			l.tier AS level,
			t.is_temp,
			t.view_cnt,
			t.favorite_cnt,
			(SELECT COUNT(team_cd) FROM team_user tu WHERE tu.team_cd = t.team_cd) AS userCount,
			s.stadium_nm AS stadium
		FROM
			team t
		LEFT JOIN meeting_times m
		ON t.mtn_tm = m.mtn_tm_cd
		LEFT JOIN team_age ta
		ON t.team_age = ta.team_age_cd
		LEFT JOIN levels l
		ON t.level_cd = l.level_cd
		LEFT JOIN stadium s
		ON t.stadium = s.stadium_no;
	</select>
	
	<select id="getSearchTeamList" resultMap="TeamList" parameterType="String">
		SELECT
			t.team_cd,
			t.team_nm,
			t.rgn_nm,
			m.mtn_tm_nm AS meetingTime,
			ta.team_age_name AS teamAge,
			l.tier AS level,
			t.is_temp,
			t.view_cnt,
			t.favorite_cnt,
			(SELECT COUNT(team_cd) FROM team_user tu WHERE tu.team_cd = t.team_cd) AS userCount,
			s.stadium_nm AS stadium
		FROM
			team t
		LEFT JOIN meeting_times m
		ON t.mtn_tm = m.mtn_tm_cd
		LEFT JOIN team_age ta
		ON t.team_age = ta.team_age_cd
		LEFT JOIN levels l
		ON t.level_cd = l.level_cd
		LEFT JOIN stadium s
		ON t.stadium = s.stadium_no
		WHERE t.team_nm like '%${inputParam}%';
	</select>
</mapper>