<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- SQL Mapping -->
<mapper namespace="com.footlink.footlink.user.team.mapper.TeamMapper">
	<resultMap type="com.footlink.footlink.user.team.domain.Team" id="TeamList">
		<id column="team_cd"			property="teamCode"/>
		<result column="team_nm"		property="teamName"/>
		<result column="rgn_nm"			property="regionName"/>
		<result column="mtn_tm"			property="meetingTimeCode"/>
		<result column="team_age"		property="teamAgeCode"/>
		<result column="level_cd"		property="levelCode"/>
		<result column="is_temp"		property="isTemp"/>
		<result column="view_cnt"		property="viewCount"/>
		<result column="favorite_cnt"	property="favoriteCount"/>
		<result column="stadium_nm"		property="stadium"/>
		<result column="gender"			property="gender"/>
		<result column="act_dow"		property="activeDoWeek"/>
	</resultMap>
	
	<select id="getTeamList" resultMap="TeamList">
		SELECT
			t.team_cd,
			t.team_nm,
			t.rgn_nm,
			m.mtn_tm_nm AS meetingTime,
			ta.team_age_name AS teamAge,
			l.tier AS level,
			t.is_temp,
			t.view_cnt,
			t.favorite_cnt,
			(SELECT COUNT(team_cd) FROM team_user tu WHERE tu.team_cd = t.team_cd) AS userCount,
			s.stadium_nm,
			t.gender,
			t.act_dow,
			t.is_deleted
		FROM
			team t
		LEFT JOIN meeting_times m
		ON t.mtn_tm = m.mtn_tm_cd
		LEFT JOIN team_age ta
		ON t.team_age = ta.team_age_cd
		LEFT JOIN levels l
		ON t.level_cd = l.level_cd
		LEFT JOIN stadium s
		ON t.stadium = s.stadium_no
		WHERE
		 t.is_deleted = 0;
	</select>
	
	<select id="getSearchTeamList" resultMap="TeamList" parameterType="String">
		SELECT
			t.team_cd,
			t.team_nm,
			t.rgn_nm,
			m.mtn_tm_nm AS meetingTime,
			ta.team_age_name AS teamAge,
			l.tier AS level,
			t.is_temp,
			t.view_cnt,
			t.favorite_cnt,
			(SELECT COUNT(team_cd) FROM team_user tu WHERE tu.team_cd = t.team_cd) AS userCount,
			s.stadium_nm AS stadium
		FROM
			team t
		LEFT JOIN meeting_times m
		ON t.mtn_tm = m.mtn_tm_cd
		LEFT JOIN team_age ta
		ON t.team_age = ta.team_age_cd
		LEFT JOIN levels l
		ON t.level_cd = l.level_cd
		LEFT JOIN stadium s
		ON t.stadium = s.stadium_no
		WHERE t.team_nm like CONCAT('%', #{inputParam}, '%');
	</select>
	
	<select id="getArea" resultType="com.footlink.footlink.user.team.domain.StadiumArea" >
		SELECT
			p.province_id AS provinceId,
			p.`name`
		FROM provinces p
		ORDER BY p.province_id;
	</select>
	
	<select id="getStadium" resultType="com.footlink.footlink.user.team.domain.StadiumArea" >
		SELECT
			s.stadium_no AS stadiumNo,
			s.stadium_nm AS stadiumName,
			s.stadium_addr AS stadiumAddr,
			s.province_id AS provinceId
		FROM stadium s;
	</select>
	
	<select id="getTeamDetail" resultMap="TeamList" parameterType="String">
		SELECT
			t.team_cd,
			t.team_nm,
			t.rgn_nm,
			m.mtn_tm_nm AS meetingTime,
			ta.team_age_name AS teamAge,
			l.tier AS level,
			t.is_temp,
			t.view_cnt,
			t.favorite_cnt,
			(SELECT COUNT(team_cd) FROM team_user tu WHERE tu.team_cd = t.team_cd) AS userCount,
			s.stadium_nm,
			t.gender,
			t.act_dow
		FROM
			team t
		LEFT JOIN meeting_times m
		ON t.mtn_tm = m.mtn_tm_cd
		LEFT JOIN team_age ta
		ON t.team_age = ta.team_age_cd
		LEFT JOIN levels l
		ON t.level_cd = l.level_cd
		LEFT JOIN stadium s
		ON t.stadium = s.stadium_no
		WHERE 
			t.team_cd = #{teamCode};
	</select>
	
	<select id="getTeamUserList" parameterType="String" resultType="com.footlink.footlink.user.team.domain.TeamUser">
		SELECT
			u.user_id as userId,
			u.user_nm as name,
			u.user_level as level,
			ta.team_authrt_nm as teamAuthrtName
		FROM
		`user` u
		LEFT JOIN team_user tu
		ON u.user_id = tu.user_cd
		LEFT JOIN team_authrt ta
		ON tu.team_auhrt_cd = ta.team_authrt_cd
		WHERE 
			tu.team_cd = #{teamCode};
	</select>
	
	<select id="getTeamState" resultType="com.footlink.footlink.user.team.domain.State" parameterType="String">
		SELECT
			ts.attack,
			ts.speed,
			ts.dribble,
			ts.stamina,
			ts.defense,
			ts.physical,
			ts.pass,
			ts.shot
		FROM
			team_state ts
		WHERE 
			team_cd = #{teamCode};
	</select>
	
	<select id="getTeamCalendar" resultType="com.footlink.footlink.user.team.domain.Calendar" parameterType="String">
		SELECT 
			ts.team_dt_cd AS teamDateCode, 
			ts.team_cd AS teamCode, 
			ts.ttl AS title, 
			ts.plc_nm AS placeName, 
			ts.prnmnt_ymd AS date, 
			ts.bgng_time AS startTime, 
			ts.end_time AS endTime, 
			ts.dtl_cn AS contents, 
			ts.reg_ymd AS registrationDate
		FROM
			team_schedules ts
		WHERE
			ts.team_cd = #{teamCode};
	</select>
	
	<insert id="addTeamInfo" parameterType="com.footlink.footlink.user.team.domain.Team">
		INSERT INTO team(
			 team_cd, 
			 team_nm, 
			 rgn_nm, 
			 mtn_tm, 
			 team_age, 
			 level_cd, 
			 is_temp, 
			 stadium, 
			 gender, 
			 act_dow
			)
		VALUES (
			 #{teamCode}, 
			 #{teamName}, 
			 #{regionName},
			  (SELECT mt.mtn_tm_cd FROM meeting_times mt WHERE mt.mtn_tm_nm = #{meetingTime}), 
			  (SELECT ta.team_age_cd FROM team_age ta WHERE ta.team_age_name LIKE CONCAT('%', #{teamAge}, '%')), 
			  (SELECT l.level_cd FROM levels l WHERE l.tier = #{level}), 
			  #{isTemp}, 
			  (SELECT s.stadium_no FROM stadium s WHERE s.stadium_nm = #{stadium}), 
			  #{gender}, 
			  #{activeDoWeek}
			);
	</insert>
	
	<insert id="addTeamState" parameterType="com.footlink.footlink.user.team.domain.State">
		INSERT INTO team_state(
			 team_cd, 
			 attack, 
			 speed, 
			 dribble, 
			 stamina, 
			 defense, 
			 physical, 
			 pass, 
			 shot
			 )
		VALUES (
			 #{teamCode}, 
			 #{attack}, 
			 #{speed}, 
			 #{dribble}, 
			 #{stamina}, 
			 #{defense}, 
			 #{physical}, 
			 #{pass}, 
			 #{shot}
			);
	</insert>
	
	<insert id="addTeamUser" parameterType="Map">
		INSERT INTO team_user(
				team_cd, 
				user_cd,
				team_auhrt_cd
			)
		VALUES (
				#{teamCode}, 
				#{userId},
				'team_atrt_01'
			);
	</insert>
	
	<insert id="addCalendar" parameterType="com.footlink.footlink.user.team.domain.Calendar">
		INSERT INTO team_schedules(
				team_dt_cd, 
				team_cd, 
				ttl, 
				plc_nm, 
				prnmnt_ymd, 
				bgng_time, 
				end_time, 
				dtl_cn, 
				reg_ymd
				)
		VALUES (
				(
				SELECT 
					CASE
						WHEN CONVERT(SUBSTRING(team_dt_cd,9), UNSIGNED) + 1 &lt; 100 THEN CONCAT('team_dt_', LPAD(CONVERT(SUBSTRING(team_dt_cd,9), UNSIGNED) + 1, 2, '0'))
						WHEN CONVERT(SUBSTRING(team_dt_cd,9), UNSIGNED) + 1 >= 100 THEN CONCAT('team_dt_', CONVERT(SUBSTRING(team_dt_cd,9), UNSIGNED) + 1)
					END
				FROM 
					(SELECT team_dt_cd FROM team_schedules) AS temp
				ORDER BY CONVERT(SUBSTRING(team_dt_cd,9), UNSIGNED) DESC
				LIMIT 1
				), 
				#{teamCode}, 
				#{title}, 
				#{placeName}, 
				#{date}, 
				#{startTime}, 
				#{endTime}, 
				#{contents}, 
				NOW()
				);
	</insert>
	
	<insert id="addTeamRecruit" parameterType="com.footlink.footlink.user.team.domain.Recruit">
		INSERT INTO team_recruit_post(
				rcrt_aply_cd, 
				team_cd, 
				rcrt_aply_cn, 
				rcrt_aply_dt, 
				file_no, 
				rcrt_team_age, 
				rcrt_gender, 
				rcrt_level,
				rcrt_team_dvsn
			)
		VALUES (
			(
				SELECT 
					CASE
						WHEN CONVERT(SUBSTRING(rcrt_aply_cd,11), UNSIGNED) + 1 &lt; 100 THEN CONCAT('rcrt_aply_', LPAD(CONVERT(SUBSTRING(rcrt_aply_cd,11), UNSIGNED) + 1, 2, '0'))
						WHEN CONVERT(SUBSTRING(rcrt_aply_cd,11), UNSIGNED) + 1 >= 100 THEN CONCAT('rcrt_aply_', CONVERT(SUBSTRING(rcrt_aply_cd,11), UNSIGNED) + 1)
					END
				FROM 
					(SELECT rcrt_aply_cd FROM team_recruit_post) AS temp
				ORDER BY CONVERT(SUBSTRING(rcrt_aply_cd,11), UNSIGNED) DESC
				LIMIT 1
			), 
			#{teamCode}, 
			#{contents}, 
			NOW(), 
			NULL, 
			(SELECT ta.team_age_cd FROM team_age ta WHERE ta.team_age_name LIKE CONCAT('%', #{age}, '%')),  
			#{gender}, 
			#{level},
			#{teamDistinction}
			);
	</insert>
	
	<update id="deleteTeam" parameterType="String">
		UPDATE team
		<set>
			is_deleted = 1
		</set>
		<where>
			team_cd = #{teamCode}
		</where>
	</update>
	
	<delete id="deleteTeamUser" parameterType="Map">
		DELETE FROM team_user
		WHERE
			user_cd = #{userId}
		AND
			team_cd = #{teamCode}
	</delete>
</mapper>